{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">Bienvenue sur Solo Explorer!</h1>
        <p class="lead">Découvrez des informations fascinantes sur des destinations du monde entier.</p>
        <a href="#destinations" class="btn btn-primary btn-lg">Commencez votre aventure</a>
    </header>

{% endblock %}